.about {
  margin: 80px 0;
  @media screen and (min-width: 835px) {
    margin: 100px 0;
  }
}
.about__container {
  padding: 80px 0;
  background-image: url(../images/map-uk-mob@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/map-uk-mob@2x.png);
  }
  @media screen and (min-width: 320px) and (max-width: 374.5px) {
    background-size: auto;
  }
  @media screen and (min-width: 835px) {
    background-image: url(../images/tablet-uk-map@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet-uk-map@2x.png);
    }
  }
  @media screen and (min-width: 1440px) {
    background-image: url(../images/desktop-map-uk@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop-map-uk@2x.png);
    }
  }
}
.about__title {
  color: #fff;
  font-family: "Jomolhari", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 67px;
  @media screen and (min-width: 835px) {
    font-size: 64px;
    line-height: 89.6px;
    letter-spacing: 0.64px;
    margin-bottom: 64px;
  }
}
.about__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  @media screen and (min-width: 835px) {
    flex-direction: row;
    justify-content: center;
  }
}
.about__item {
  @media screen and (min-width: 320px) and (max-width: 374.5px) {
    width: 100%;
  }
  width: 343px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 835px) {
    width: 369px;
    height: 242px;
    &:not(:last-child) {
      margin: 0px 32px 0px 0px;
    }
  }
  @media screen and (min-width: 1440px) {
    width: 496px;
    height: 176px;
  }
}
.about__text {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.16px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
