.hero {
  background-image: linear-gradient(180deg, #141a19 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(
      54.53% 54.53% at 56.24% 51.15%,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(/images/hero-mob-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(180deg, #141a19 0%, rgba(0, 0, 0, 0) 100%),
      radial-gradient(
        54.53% 54.53% at 56.24% 51.15%,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(/images/hero-mob-2x.png);
  }
  @media screen and (min-width: 835px) {
    background-image: url(/images/hero-tablet-1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/hero-tablet-2x.png);
    }
  }
  @media screen and (min-width: 1440px) {
    background-image: url(/images/hero-desktop-1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/hero-desktop-2x.png);
    }
  }
}
.hero__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero__title {
  color: #fff;
  text-align: center;
  font-family: "Jomolhari", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  letter-spacing: 0.24px;
  width: 234px;
  padding-top: 267px;
}
.hero__title--reverse {
  color: #fff;
  font-family: "Jomolhari", serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 89.6px;
  letter-spacing: 0.64px;
}
.text__reverse {
  transform: rotateX(180deg);
  color: #fff;
  font-family: "Jomolhari", serif;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0.64px;
  background: linear-gradient(5deg, #fff 0%, rgba(255, 255, 255, 0) 60%);
  opacity: 0.4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__link {
  color: #fff;
  font-family: "Jomolhari", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.16px;
  padding: 12px 52px;
  border-radius: 4px;
  background-color: #394014;
}

.hero__list {
  display: flex;
  gap: 15px;
  padding: 225px 0px 32px;
}
