.tours__title {
  color: #fff;
  font-family: "Jomolhari", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 32px;
  @media screen and (min-width: 835px) {
    font-size: 64px;
    line-height: 89.6px;
    letter-spacing: 0.64px;
    margin-bottom: 64px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  //   width: 100%;
}

.swiper-slide img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 1439.9px) {
    object-fit: contain;
  }
  @media screen and (min-width: 1440px) {
    height: 515px;
  }
}

.swiper {
  width: 100%;
  // height: 100%;
  margin: 0 auto;
}
.swiper-buttons__wrapper {
  width: 343px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  @media screen and (max-width: 374.5px) {
    width: 100%;
  }
  @media screen and (min-width: 835px) {
    width: auto;
    justify-content: space-evenly;
    margin-top: 60px;
  }
}
.s-button-prev,
.s-button-next {
  fill: #5a5959;
  &:hover,
  :focus {
    fill: #fff;
  }
}

.swiper-content {
  width: 343px;
  margin: 0 auto;
  @media screen and (max-width: 374.9px) {
    width: 100%;
  }
  @media screen and (min-width: 835px) {
    width: 770px;
  }
}
.swiper-content__wrapper {
  @media screen and (min-width: 835px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 39px;
  }
  @media screen and (min-width: 1440px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
  }
}
.tours-swiper__title {
  color: #fff;
  font-family: "Jomolhari", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  letter-spacing: 0.24px;
  margin-top: 16px;
  @media screen and (min-width: 835px) {
    font-size: 32px;
    line-height: 44.8px;
    letter-spacing: 0.32px;
    margin: 40px 0 24px;
  }
  @media screen and (min-width: 1440px) {
    margin: 64px 0 32px;
  }
}

.tours-swiper__text {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.16px;
  margin: 16px 0;
  @media screen and (min-width: 835px) {
    width: 460px;
    margin: 0;
  }
  @media screen and (min-width: 1440px) {
    width: 460px;
    margin: 0 0 18px 0;
  }
}

.tours-swiper__included {
  color: #fff;
  font-family: "Jomolhari", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.18px;
  margin-bottom: 16px;
  @media screen and (min-width: 1440px) {
    margin-top: 22px;
  }
}
.tours-swiper__list {
  margin-bottom: 32px;
  @media screen and (min-width: 835px) {
    margin-bottom: 0;
  }
}
.tours-swiper__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.item-text {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.16px;
  margin-left: 16px;
}
.tours-swiper__link {
  display: inline-block;
  color: #fff;
  font-family: "Jomolhari", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.16px;
  padding: 16px 52px;
  background-color: #394014;
  border-radius: 4px;
  width: 343px;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  @media screen and (max-width: 374.5px) {
    width: 100%;
  }
  @media screen and (min-width: 835px) {
    width: 169px;
    margin-bottom: 0;
  }
}
.js-tours__list {
  width: 480px;
  list-style-type: disc;
  margin: 0 0 18px 15px;
}
.tours-item__text {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.16px;
}
.js-price__container {
  display: flex;
}
.tours-price {
  color: #fff;
  font-family: "Jomolhari", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 0.32px;
  margin: 0 0 0 38px;
}
.tours-price__span {
  margin-left: 72px;
}
