button {
  border: 0;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

html {
  max-width: 100%;
}

body {
  color: #fff;
  font-family: Roboto, sans-serif;
  background-color: #141a19;
  overflow-x: hidden;
}
